<!DOCTYPE html>
<html data-theme="{{theme}}">
<head>
    <title>OctoBot Page Settings</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='octobotlogo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    :root {
        --user-font: "{{font}}";
        --user-theme: "{{theme}}";
    }
</style>

</head>

<body>

<h1 id="settingsHeader">Settings</h1>

<form action="{{url_for('saveSettings')}}" method="POST">
    <label for="font">Font:</label>
    <select name="font" id="font">
        <option class="dropdownOption" value="Segoe UI" {% if font == 'Segoe UI' %}selected{% endif %}>Segoe UI</option>
        <option class="dropdownOption" value="Courier New" {% if font == 'Courier New' %}selected{% endif %}>Courier New</option>
        <option class="dropdownOption" value="Georgia" {% if font == 'Georgia' %}selected{% endif %}>Georgia</option>
        <option class="dropdownOption" value="Comic Sans MS" {% if font == 'Comic Sans MS' %}selected{% endif %}>Comic Sans MS</option>
        <option class="dropdownOption" value="Times New Roman" {% if font == 'Times New Roman' %}selected{% endif %}>Times New Roman</option>
        <option class="dropdownOption" value="Arial" {% if font == 'Arial' %}selected{% endif %}>Arial</option>
        <option class="dropdownOption" value="Georgia" {% if font == 'Georgia' %}selected{% endif %}>Georgia</option>
    </select>



        <label for="theme">Theme:</label>
    <select name="theme" id="theme">
        <option class="dropdownOption" value="Ultraviolet" {% if theme == 'Ultraviolet' %}selected{% endif %}>Ultraviolet</option>
        <option class="dropdownOption" value="Thermal" {% if theme == "Thermal" %}selected{% endif %}>Thermal</option>
    </select>

    <button type="submit">Save</button>
</form>

<br>

<a href="{{url_for('home')}}"><button>Return</button></a>
<a href="{{url_for('chatUi')}}"><button>Talk to OctoBot!</button></a>

</body>


</html>
