
#openChat {
  width: 300px;
  height: 82px;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
  font-family: var(--user-font);
  transform: translate(0%, -215%);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
}






#sendButton {
  width: 185px;
  height: 68px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
  font-family: var(--user-font);
  background: radial-gradient( circle farthest-corner at 10% 10%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transform: translate(0%, 80%);
}


#aChat{
transform: translate(0%, -320%);
}

#loadingText{
  font-size: xx-large;
}


#octobotChatHeader{
  transform: translate(0%, -150%);
  font-size: 80px;
  font-family: var(--user-font);
}

#chatbox{
  font-family: var(--user-font);
}

:root {
    --font-segoe: "Segoe UI", 
    --font-roman: "Times New Roman",
    --font-georgia: "Georgia",
    --font-comic: "Comic Sans MS",
    --font-courier: "Courier New",
    --font-arial: "Arial",
    --font-georgia: "Georgia";
}

:root{
    --user-font: "{{font}}";
}

body {
  background-color: #100720;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--user-font);
}




#welcome {
  font-size: 80px;
  margin-bottom: 20px;
  text-align:center;
  transform: translate(0%, -255%);
}

#octobotIntroduction {
  font-size: 20px;
  margin-bottom: 25px;
  text-align:center;
  width: default;
  transform: translate(0%, -215%);
}


#userInput {
  font-family: var(--user-font);
  font-weight: 500;
  font-size: .8vw;
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(31, 11, 102, 0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  width: 1600px;
  transition: .4s;
}

#userInput:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  font-family: var(--user-font);
}

#userInput:focus {
  box-shadow: 0 0 0 .15vw rgb(94, 29, 199);
  font-family: var(--user-font);
}




#externalLinks {
  display: flex;
  gap: 55px;
  position: relative;
  transform: translate(-11%, -150%);
}




#githubBackground {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  outline: circle;
  border: circle;
  background: rgba(255,94,247,1);
  box-shadow: rgba(2,245,255,1)  0px 2px 5px -1px, rgba(2,245,255,1) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}




#githubBackground:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgba(2,245,255,1) ;
}

#githubBackground:hover #githubCat {
  fill: rgba(255,94,247,1);
}



#youtubeBackground {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  outline: circle;
  border: circle;
  background: rgba(255,94,247,1);
  box-shadow: rgba(2,245,255,1)  0px 2px 5px -1px, rgba(2,245,255,1) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}




#youtubeBackground:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: rgba(2,245,255,1) ;
}

#youtubeBackground:hover #youtubeLogo {
  fill: rgba(255,94,247,1);
}

