
#openChat {
  width: 300px;
  height: 82px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 30px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: var(--bg-color);
  transition: 0.1s;
  font-family: var(--user-font);
  transform: translate(0%, -215%);
  background: radial-gradient( circle farthest-corner at 10% 20%,  var(--button1-color) 17.8%, var(--button2-color) 100.2% );
}






#sendButton {
  width: 185px;
  height: 68px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: var(--bg-color);
  transition: 0.1s;
  font-family: var(--user-font);
  background: radial-gradient( circle farthest-corner at 10% 10%,  var(--button1-color) 17.8%, var(--button2-color) 100.2% );
  transform: translate(0%, 80%);
}


#aChat{
transform: translate(0%, -320%);
}

#loadingText{
  font-size: xx-large;
}


#octobotChatHeader{
  transform: translate(0%, -150%);
  font-size: 80px;
  font-family: var(--user-font);
}

#chatbox{
  font-family: var(--user-font);
}

:root {
    --font-segoe: "Segoe UI", 
    --font-roman: "Times New Roman",
    --font-georgia: "Georgia",
    --font-comic: "Comic Sans MS",
    --font-courier: "Courier New",
    --font-arial: "Arial",
    --font-georgia: "Georgia";
}

:root{
    --user-theme: "Ultraviolet";
    --bg-color: #100720;
    --focus-color: #7f5af0;
    --text-color: #ffffff;
    --button1-color: #f059e8;
    --button2-color: #02f5ff;
    --input-color:#1c1c1e;
    --inputShadow-color: #1f0b6680;
    --inputHover-color: #87cfeb2f;

}





:root[data-theme="Ultraviolet"] {
    --user-theme: "Ultraviolet";
    --bg-color: #100720;
    --focus-color: #7f5af0;
    --text-color: #ffffff;
    --button1-color: #f059e8;
    --button2-color: #02f5ff;
    --input-color:#1c1c1e;
    --inputShadow-color: #1f0b6680;
    --inputHover-color: #87cfeb2f;

}

:root[data-theme="Thermal"] {
    --user-theme: "Thermal";
    --bg-color:#ac482f;
    --focus-color: #ff6f00;
    --text-color: #020202;
    --button1-color: #ff0800;
    --button2-color: #f0a94d;
    --input-color:#24221f;
    --inputShadow-color: #66160b80;
    --inputHover-color: #eb87872f;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--user-font);
}




#welcome {
  font-size: 80px;
  margin-bottom: 20px;
  text-align:center;
  transform: translate(0%, -255%);
}

#octobotIntroduction {
  font-size: 20px;
  margin-bottom: 25px;
  text-align:center;
  width: default;
  transform: translate(0%, -215%);
}


#userInput {
  font-family: var(--user-font);
  font-weight: 500;
  font-size: .8vw;
  color: var(--text-color);
  background-color: var(--input-color);
  box-shadow: 0 0 .4vw var(--inputShadow-color), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  width: 1600px;
  transition: .4s;
}

#userInput:hover {
  box-shadow: 0 0 0 .15vw var(--inputHover-color);
  font-family: var(--user-font);
}

#userInput:focus {
  box-shadow: 0 0 0 .15vw var(--focus-color);
  font-family: var(--user-font);
}




#externalLinks {
  display: flex;
  gap: 55px;
  position: relative;
  transform: translate(-11%, -150%);
}




#githubBackground {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  outline: circle;
  border: circle;
  background: var(--button1-color);
  box-shadow: var(--button2-color)  0px 2px 5px -1px, var(--button2-color) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}




#githubBackground:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: var(--button2-color);
}

#githubBackground:hover #githubCat {
  fill: var(--button1-color);
}



#youtubeBackground {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  outline: circle;
  border: circle;
  background: var(--button1-color);
  box-shadow: var(--button2-color)  0px 2px 5px -1px, var(--button2-color) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}




#youtubeBackground:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: var(--button2-color);
}

#youtubeBackground:hover #youtubeLogo {
  fill: var(--button1-color);
}

